/* PRODUCTS PAGE */
.products-page {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
  }
  
  .products-page .products {
    width: 100%;
    height: auto;
    display: flex;
    background: #f8f8ff;
    flex-direction: column;
  }
  
  /* AVATAR BIG BOX */
  .products-page .products .avatar-big-box {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  } 
  
  .products-page .products .avatar-big-box .category-title {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: "Dancing Script";
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 1.44px;
    color: #343434;
    margin-right: 150px;
  }
  
  .products-page .products .dishes-filter-section {
    width: 100%;
    margin-top: 71px;
    display: flex;
  }
  
  .products-page .products .dishes-filter-box {
    width: 100%;
    margin-top: 71px;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  
  /* PRODUCT LIST */
  .products-page .products .product-wrapper {
    margin-left: 25px;
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:34px
  }
  
  .products-page .products .product-wrapper .no-data {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-style: italic;
      line-height: 34px;
      color: #e3c08d;
  }
  
  .products-page .products .product-desc {
    margin-top: 2px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #e3c08d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .products-page .products .product-img {
    height: 275px;
    border-radius: 0 50px 0 0;
  }
  
  .products-page .products .product-img:before {
    border-radius: 0px 50px 0px 0px;
    content: "";
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    margin: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
  }
  
  .products-page .products .product-img img {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
  
  .products-page .products .product-img:hover:before {
    border-radius: 0 50px 0 0;
    opacity: 1;
  }
  
  .products-page .products .product-img .product-sale {
    margin: 10px;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff9200;
    box-shadow: 4px 6px 20px #0000001a;
    border-radius: 25px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
  }
  
  .products-page .products .dishes-filter-box .order {
    margin-right: 20px;
  }
  
  .products-page .products .list-category-section {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
  }
  
  .products-page .products .product-category {
    margin-top: 60px;
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .products-page .product-category .category-main {
    display: flex;
    flex-direction: row;
    justify-content: end;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  
  .products-page .product-category .category-main button {
    min-width: auto;
    margin-right: 10px;
  }
  
  .products-page .products .product-card .product-desc {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  
  .products-page .products .shop-btn {
    position: absolute;
    height: 46px;
    padding: 20px;
    top: 217px;
    left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid #d7b686;
    background: rgba(198 0 255 / 66%);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15;
    color: #f8f8f8;
  }
  
  .products-page .products .product-img .view-btn {
    position: absolute;
    top: 217px;
    right: 50px;
    padding: 5px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
  }
  
  .products-page .products .product-img:hover .shop-btn {
    opacity: 1;
  }
  
  .products-page .products .product-img:hover .view-btn {
    opacity: 1;
  }
  
  .products-page .products .list-category-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .products-page .products .product-desc-box {
    text-align: center;
  }
  
  .products-page .products .product-title {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    color: #343434;
    
  }
  
  .products-page .products .product-wrapper .product-card {
    position: relative;
  }
  
  .products-page .products .pagination-section {
    margin-top: 10px;
  }
  
  /* OUR FAMILY BRANDS */
  .products-page .products .brands-logo {
    margin-top: 53px;
    background: #0D1518;
  }
  
  .products-page .products .brands-logo .family-brands {
    width: 1300px;
  }
  
  .products-page .products .brands-logo .category-title {
    text-align: center;
    font-family: "Dancing Script";
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    padding-top: 80px;
    padding-bottom: 58px;
    letter-spacing: 1.44px;
    color: #E3C08D;
  }
  
  .products-page .products .brand-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    background: #0d1518;
  }
  
  .products-page .products .brand-list .card-media {
    width: 258px;
    height: 350px;
    background: #0d1518;
    box-shadow: 1px 1px 5px 2px white;
    border-radius: 20px;
    padding: 20px;
  }
  
  /* OUR ADDRESS */
  
  .products-page .products .address {
    margin: 60px 60px;
    height: auto;
    background: #f8f8f8;
  }
  
  .products-page .products .address .category-title {
    text-align: center;
    font-family: "Dancing Script";
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 1.44px;
    color: #000;
  }
  
  /** ChosenProduct **/
  
  .products-page .chosen-product {
      position: relative;
      width: 100%;
      height: auto;
      background: #f8f8ff;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .products-page .chosen-product .product-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 80px;
      margin-bottom: 150px;
    }
    
    .products-page .chosen-product .chosen-product-slider {
      width: 48%;
      height: 480px;
      background: #ffffff;
      box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
        inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      overflow: hidden;
    }
    
    .products-page .chosen-product .chosen-product-slider .swiper-area {
      --swiper-navigation-color: #fff;
      --swiper-pagination-color: #fff;
      width: 100%;
      height: 1020px;
    }
    
    .products-page
      .chosen-product
      .chosen-product-slider
      .swiper-area
      .slider-image {
      width: 100%;
      height: 100%;
    }
    
    .products-page .chosen-product .chosen-product-info {
      padding: 30px 40px;
      width: 49%;
      height: 480px;
      display: flex;
      background: #ffffff;
      box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
        inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
    }
    
    .products-page .chosen-product .chosen-product-info .info-box {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    
    .products-page .chosen-product .info-box .product-name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
    }
    
    .products-page .chosen-product .info-box .resto-name {
      margin-top: 16px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 15px;
      color: #979797;
    }
    
    .products-page .chosen-product .info-box .rating-box {
      margin-top: 20px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    .products-page .chosen-product .rating-box .star-box {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .products-page .chosen-product .rating-box .evaluation-box {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .products-page .chosen-product .rating-box .evaluation-box .product-view {
      display: flex;
      align-items: center;
    }
    
    .products-page .chosen-product .info-box .product-desc {
      height: 112px;
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
    
    .products-page .chosen-product .info-box .product-price {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    .products-page .chosen-product .product-price span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 22px;
      color: #000000;
    }
    
    .products-page .chosen-product .button-box {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .products-page .chosen-product .button-box button {
      width: 230px;
      height: 44px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #f8f8ff;
    }
    
    .products-page .chosen-product .title {
      font-family: "Dancing Script";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
      margin-top: 40px;
    }
    
    /** ChosenProduct **/
  
  .products-page .chosen-product {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .chosen-product .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 150px;
  }
  
  .products-page .chosen-product .chosen-product-slider {
    width: 48%;
    height: 480px;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
  }
  
  .products-page .chosen-product .chosen-product-slider .swiper-area {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    width: 100%;
    height: 1020px;
  }
  
  .products-page
    .chosen-product
    .chosen-product-slider
    .swiper-area
    .slider-image {
    width: 100%;
    height: 100%;
  }
  
  .products-page .chosen-product .chosen-product-info {
    padding: 30px 40px;
    width: 49%;
    height: 480px;
    display: flex;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  
  .products-page .chosen-product .chosen-product-info .info-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .products-page .chosen-product .info-box .product-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .resto-name {
    margin-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    color: #979797;
  }
  
  .products-page .chosen-product .info-box .rating-box {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .star-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box .product-view {
    display: flex;
    align-items: center;
  }
  
  .products-page .chosen-product .info-box .product-desc {
    height: 112px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .product-price {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .product-price span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .button-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .products-page .chosen-product .button-box button {
    width: 230px;
    height: 44px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #f8f8ff;
  }
  
  .products-page .chosen-product .title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 40px;
  }

  /** ChosenProduct **/

.products-page .chosen-product {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .chosen-product .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 150px;
  }
  
  .products-page .chosen-product .chosen-product-slider {
    width: 48%;
    height: 480px;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
  }
  
  .products-page .chosen-product .chosen-product-slider .swiper-area {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    width: 100%;
    height: 1020px;
  }
  
  .products-page
    .chosen-product
    .chosen-product-slider
    .swiper-area
    .slider-image {
    width: 100%;
    height: 100%;
  }
  
  .products-page .chosen-product .chosen-product-info {
    padding: 30px 40px;
    width: 49%;
    height: 480px;
    display: flex;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  
  .products-page .chosen-product .chosen-product-info .info-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .products-page .chosen-product .info-box .product-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .resto-name {
    margin-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    color: #979797;
  }
  
  .products-page .chosen-product .info-box .rating-box {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .star-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box .product-view {
    display: flex;
    align-items: center;
  }
  
  .products-page .chosen-product .info-box .product-desc {
    height: 112px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .product-price {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .product-price span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .button-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .products-page .chosen-product .button-box button {
    width: 230px;
    height: 44px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #f8f8ff;
  }
  
  .products-page .chosen-product .title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 40px;
  }